/* stylesheet */

* {
box-sizing: border-box;
}

/*Hides scroll bar on the right hand side*/  
::-webkit-scrollbar {
    display: none;
}


/* Style the body */
body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
}

/* Header/logo Title */
.header {
padding: 80px;
text-align: center;
color: white;
background: rgba(88, 88, 88, 0.927);
background-image: url(../Images/Homepage-header-image.jpg);
background-blend-mode: multiply;
}

/* Increase the font size of the heading */
.header h1 {
font-size: 60px;
}

.topnavbar {
    text-align: center;
    position:relative;
    top: 0;
    width: 100%;
    overflow: auto;
    margin: auto;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    z-index: 100; 
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    word-spacing: 40px;
}

.topnavbar a {
    display:inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: ease-in 250ms;
}


.topnavbar a:hover {
    background-color: #ddd;
    color: black;
  }

.topnavbar a.active {
    background-color: #04AA6D;
    color: white;
}

/*photo tekst*/


.fotoalinea{
    
    display: flex;
    align-items: center;
    padding: 10%;
    margin-left: 20%;
    
}

.fototekst{
    width: 70%;
    
}

.containerarticle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* article */

.all-sections {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
    grid-column: 1 / 2;
}

.all-sections > h1, .section  {
    margin: 10px;
    padding: 5px;
}

.section {
    background: white;
}

.section > h2, p {
    margin: 4px;
    font-size: 90%;
}

img {
    grid-column: 2 / 3;
    max-width: 100%;
}

/* actor image table */

table {
    margin: 0 auto;
}

td {
    padding: 0;
    width: 20vw;
    position: relative;
}

td img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

figcaption {
    position: absolute;
    bottom: 0;
    transform: translateY(40%);
    text-align: center;
    width: 100%;
}

/* director container & image */

.textcontainer {
    width: 30%;
    margin: 0 auto;
    margin-right: 0%;
}

.textcontainernoimg {
    width: 60%;
    margin: 0 auto;
}

.textcontainer h1 {
    font-size: 40px;
}

.textcontainer h2 {
    font-size: 25px;
}

.textcontainer p {
    font-size: 15px;
}

.containerwrapper  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerimg {
    width: 35%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
.row {   
    flex-direction: column;
}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
.navbar a {
    float: none;
    width: 100%;
}
}

footer{
    background:rgb(30, 30, 30) ;
    color: #fff;
    height: 200px;
}

.text-center{
    height: 20%;
    text-align: center;
    
}